@import "tailwindcss"; 

.scrollbar::-webkit-scrollbar {
    display: none;
}

@media (max-width: 900px) {
    .user-card {
        width: 100%;
    }   
}

@media (max-width: 600px) {
    .page-title {
        font-size: 2.5rem;
    }
}

@media (max-width: 500px) {
    .page-title {
        font-size: 2.25rem;
    }
    .left, .right {
        width:50%;
    }
}

@media (max-width: 400px) {
    .page-title {
        font-size: 2rem;
    }
}